@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

    .hidden {
        display: none;
    }

    .small-button {
        display: inline-block;
        padding: 5px 10px;
        font-size: 12px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
    }

    body {
        background-color: #3a0ca3;
        font-family: 'Poppins', sans-serif;
    }

    header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px 0;
        background-color: var(--primary-color);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        max-width: 95%;
    }

    .navl {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        /* Removed margin-left: 20px; to center the logo */
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin-left: auto; /* Push the nav to the right */
    }

    nav li {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
    }

    .navr {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s ease;
        font-size: 1.2rem;
    }

    .navr:hover {
        color: var(--hover-color);
    }